.strengthsSection {
  max-width: 100vw;
  min-height: 100vh;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.strengthsHeading {
  margin-bottom: 30px;
  font-size: 80px;
  font-family: var(--ff-primary);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.strengthsHeading span {
  color: var(--pink-color);
}

.strengthsContainer {
  width: 90vw;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  justify-content: center;
}

.strengthContainer {
  /* width: 400px;
  max-width: 100%; */
  height: 360px;
  padding: 15px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #060606;
}

.strengthContainer:hover {
  box-shadow: var(--pink-color) 0px 30px 60px -20px, var(--pink-color) 0px 20px 40px -30px;
}

.strengthContainer:first-child,
.strengthContainer:nth-child(3) {
  margin-top: 60px;
}

.strengthContainer:nth-child(5) {
  margin-top: -60px;
}

.icon {
  width: 65px;
  padding-bottom: 20px;
  filter: invert(23%) sepia(53%) saturate(7238%) hue-rotate(316deg) brightness(101%) contrast(101%);
}

.title {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.description {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 320px) {
  .strengthsSection {
    min-height: 80vh;
  }
  .strengthsHeading {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 400;
  }
  .strengthsContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .strengthContainer {
    height: 300px;
  }
  .strengthContainer:first-child,
  .strengthContainer:nth-child(3) {
  margin-top: 0px;
  }
  .strengthContainer:nth-child(5) {
    margin-top: 0px;
  }
  .icon {
    width: 40px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .strengthsHeading {
    /* margin-bottom: 15px; */
    font-size: 38px;
    font-weight: 800;
  }
  .strengthsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  .strengthContainer {
    height: 320px;
  }
  .strengthContainer:first-child,
  .strengthContainer:nth-child(3) {
  margin-top: 0px;
  }
  .strengthContainer:nth-child(5) {
    margin-top: 0px;
  }
  .icon {
    width: 50px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 777px) {
  .strengthsHeading {
    font-size: 50px;
    font-weight: 800;
  }
  .strengthsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  .strengthContainer {
    height: 320px;
  }
  .strengthContainer:first-child,
  .strengthContainer:nth-child(3) {
  margin-top: 0px;
  }
  .strengthContainer:nth-child(5) {
    margin-top: 0px;
  }
  .icon {
    width: 55px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 778px) and (max-width: 900px) {
  .strengthsHeading {
    font-size: 55px;
    font-weight: 800;
  }
  .strengthsContainer {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
  }
  .strengthContainer {
    height: 340px;
  }
  .strengthContainer:first-child,
  .strengthContainer:nth-child(3) {
  margin-top: 0px;
  }
  .strengthContainer:nth-child(5) {
    margin-top: 0px;
  }
  .icon {
    width: 50px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 901px) and (max-width: 1177px) {
  .strengthContainer:first-child,
  .strengthContainer:nth-child(3) {
  margin-top: 0px;
  }
  .strengthContainer:nth-child(5) {
    margin-top: 0px;
  }
  .strengthsContainer {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
  }
}

