<div class="strengthsSection">
  <h1 class="strengthsHeading">Why work <span>with me?</span></h1>
  <div class="strengthsContainer">
     <div class="strengthContainer">
    <img class="icon" src="assets/images/electronic-devices.png" alt="">
    <p class="title">Responsive Design</p>
    <p class="description">I always pay attention to creating websites that are not only visually stunning but also highly functional across all devices, including desktops, tablets, and mobile phones.</p>
  </div>
  <div class="strengthContainer">
    <img class="icon" src="assets/images/user-experience.png" alt="">
    <p class="title">Attention to Detail</p>
    <p class="description">I have a keen eye for detail, ensuring that every element of the design is visually appealing, from the spacing between buttons to the choice of fonts, to ensure a professional look.</p>
  </div>
  <div class="strengthContainer">
    <img class="icon" src="assets/images/positive-review.png" alt="">
    <p class="title">User Experience Focus</p>
    <p class="description">I prioritize creating intuitive and user-friendly experiences, ensuring that visitors have a seamless and enjoyable interaction.</p>
  </div>
  <div class="strengthContainer">
    <img class="icon" src="assets/images/teamwork.png" alt="">
    <p class="title">Collaboration</p>
    <p class="description">I believe that teamwork is the key to success. I enjoy collaborating with colleagues, and sharing ideas to achieve our goals. Open communication and a supportive atmosphere are very important for me.</p>
  </div>
  <div class="strengthContainer">
    <img class="icon" src="assets/images/mobile.png" alt="">
    <p class="title">Problem Solving</p>
    <p class="description">I understand the importance of finding the best solutions and resolving problems effectively. I'm determined and carefully analyze the code and explore different approaches until I reach a resolution. </p>
  </div>
  <div class="strengthContainer">
    <img class="icon" src="assets/images/online-learning.png" alt="">
    <p class="title">Continuous Learning</p>
    <p class="description">I'm always hungry for new knowledge! I stay up-to-date with the latest trends and techniques in frontend development, allowing me to deliver cutting-edge solutions.</p>
  </div>
  </div>

</div>
