.strengthsSection {
  max-width: 100vw;
  min-height: 100vh;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.strengthsHeading {
  margin-bottom: 30px;
  font-size: 80px;
  font-family: var(--ff-primary);
  font-weight: 900;
  text-transform: uppercase;
}

.strengthsHeading span {
  color: var(--pink-color);
}

.strengthsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.strengthContainer {
  width: 400px;
  max-width: 100%;
  height: 340px;
  padding: 15px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #060606;
}

.strengthContainer:hover {
  box-shadow: var(--pink-color) 0px 30px 60px -20px, var(--pink-color) 0px 20px 40px -30px;
}

.strengthContainer:first-child,
.strengthContainer:nth-child(3) {
  margin-top: 60px;
}

.strengthContainer:nth-child(5) {
  margin-top: -60px;
}

.icon {
  width: 65px;
  padding-bottom: 15px;
  filter: invert(23%) sepia(53%) saturate(7238%) hue-rotate(316deg) brightness(101%) contrast(101%);
}

.title {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.description {
  text-align: center;
  font-size: 15px;
}
