<!-- <div class="container">

  <app-navigation></app-navigation>
</div> -->
<div class="projectsSection">

    <h2 class="projectsHeading">Check my <span>projects</span></h2>

  <div class="projectsContainer">
    <div class="projectContainer">
      <p class="number">01</p>
      <div class="description">
        <p class="title">Baczyński</p>
        <p class="summary">It’s a website dedicated to Polish poet Krzysztof Kamil Baczyński. For this project, I utilized Angular and Angular Material to create a user-friendly interface. The app includes responsive design components.<br>
          One of the features is contact form. I implemented a template-driven form using Angular, and to store the data submitted through the form, I utilized Firebase. This ensures that the contact form submissions are securely stored and easily accessible.<br>
          To enrich the project further, I incorporated an open API to provide poet’s works.</p>

      </div>
      <img class="previewImage baczynskiImg" src="assets/images/baczynski.png" alt="">
      <button class="learnMoreBtn">Learn more</button>
    </div>
    <div class="projectContainer">
      <p class="number">02</p>
      <div class="description">
        <p class="title">Eat&Chill</p>
        <p class="summary">It’s a restaurant website. To create that project, I’ve utilized the power of Angular and Bootstrap. I’ve implemented both reactive and template-driven form to enhance the user experience.<br>
          To store the data from forms securely, I’ve integrated Firebase into the project.<br>
          We’ve got some interesting features like gallery, menu and FAQ sections. The website is fully responsive. Customers can easily navigate through the website and access all information they need.</p>

      </div>
      <img class="previewImage restaurantImg" src="assets/images/burger-image.png" alt="">
      <button class="learnMoreBtn">Learn more</button>
    </div>
    <div class="projectContainer">
      <p class="number">03</p>
      <div class="description">
        <p class="title">Portfolio</p>
        <p class="summary">It’s a website that I developed using Angular. The main purpose of my portfolio is to showcase my skills and projects to potential employers.<br>
          I incorporated some unique features and functionalities into that project, such as interactive elements, smooth animations, and a responsive design that adapts to different devices.<br>
          To build my portfolio, I utilized various technologies and tools, including Angular, TypeScript, HTML, CSS, Angular Material, Firebase.</p>

      </div>
      <img class="previewImage portfolioImg" src="assets/images/portrait-3.png" alt="">
      <button class="learnMoreBtn">Learn more</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
