.projectsSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectsHeading {
  color: var(--white-color);
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
}

.projectsHeading span{
 color: var(--pink-color);
}

.projectsContainer {
  width: 80vw;
  margin-top: 50px;
}

.projectContainer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectContainer:nth-child(3) {
  border-bottom: 1px solid var(--white-color);
}

.projectContainer:nth-child(3):hover {
  border-bottom: none;
}

.projectContainer:hover {
  border-top: none;
  border-radius: 10px;
  background-color: var(--pink-color);
  color: var(--white-color);
}

.projectContainer:hover + .projectContainer {
  border-top: none;
}

.projectContainer:hover img {
  opacity: 1;
}

.projectContainer:hover .number {
  color: var(--white-color);
}

.projectContainer:hover .learnMoreBtn {
  background-color: var(--white-color);
  color: var(--black-color);
}

.number {
  color: var(--pink-color);
  font-size: 25px;
  font-weight: bold;
}

.descriptionContainer {
  width: 580px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.summary {
  font-size: 16px;
}

.previewImage {
  position: absolute;
  top: -30px;
  right: 70px;
  width: 230px;
  height: 300px;
  margin-right: 100px;
  opacity: 0;
  z-index: 1;
}

.baczynskiImg {
  top: -22px;
}

.restaurantImg {
  width: 300px;
  height: 380px;
  top: -70px;
  right: 38px;
}

.portfolioImg {
  width: 220px;
  height: 300px;
  top: -61px;
}

.learnMoreBtn {
  padding: 15px;
  border: 2px solid var(--pink-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: 15px;
  cursor: pointer;
}
