<app-projects></app-projects>
<div class="projectsSection">

    <h2 class="projectsHeading">Check my <span>projects</span></h2>

  <div class="projectsContainer">
    <div class="projectContainer">
      <p class="number">01</p>
      <div class="description">
        <p class="title">Baczyński</p>
        <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, magni. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, accusamus. Aspernatur tempora optio amet dignissimos mollitia fugit reprehenderit, nesciunt obcaecati, repudiandae quos repellendus quibusdam vero ducimus! Magnam aperiam incidunt quo.l Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non molestiae alias dolore temporibus qui incidunt excepturi quas aspernatur modi recusandae?</p>
      </div>
      <img src="assets/images/baczynski.png" alt="">
      <button class="learnMoreBtn">Learn more</button>
    </div>
    <div class="projectContainer">
      <p class="number">02</p>
      <div class="description">
        <p class="title">Eat&Chill</p>
        <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, magni. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, accusamus. Aspernatur tempora optio amet dignissimos mollitia fugit reprehenderit, nesciunt obcaecati, repudiandae quos repellendus quibusdam vero ducimus! Magnam aperiam incidunt quo.l Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non molestiae alias dolore temporibus qui incidunt excepturi quas aspernatur modi recusandae?</p>
      </div>

      <button class="learnMoreBtn">Learn more</button>
    </div>
    <div class="projectContainer">
      <p class="number">03</p>
      <div class="description">
        <p class="title">Portfolio</p>
        <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, magni. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, accusamus. Aspernatur tempora optio amet dignissimos mollitia fugit reprehenderit, nesciunt obcaecati, repudiandae quos repellendus quibusdam vero ducimus! Magnam aperiam incidunt quo.l Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non molestiae alias dolore temporibus qui incidunt excepturi quas aspernatur modi recusandae?</p>
      </div>
      <button class="learnMoreBtn">Learn more</button>
    </div>
  </div>
</div>

