.contactSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactHeading {
  font-size: 220px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 200px;
}
