.navigationContainer {
  min-height: 15vh;
}

.contactSection {
  max-width: 100vw;
  min-height: 100vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  width: 90vw;
  min-height: 90vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color);
}

.cotactHeading {
  margin-bottom: 30px;
  color: var(--pink-color);
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

.custom-form-field {
  width: 500px;
}

.listOfLinks {
  display: flex;
}

.link {
  color: var(--pink-color);
  text-decoration: none;
}

.listItem {
  width: 200px;
  padding: 10px;
  border: 2px solid var(--pink-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.listItem:first-child,
.listItem:nth-child(2) {
  margin-right: 20px;
}

.listItem:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.listItem:hover .link{
  color: var(--white-color);
}

.listItem:hover .icon {
  filter: invert(89%) sepia(2%) saturate(1681%) hue-rotate(350deg) brightness(112%) contrast(102%);
}

.link {
  display: flex;
  align-items: center;
}

.icon
 {
  width: 20px;
  margin-right: 12px;
  margin-left: 10px;
  filter: invert(23%) sepia(53%) saturate(7238%) hue-rotate(316deg) brightness(101%) contrast(101%);
}

.submitBtn {
  padding: 15px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
