/* .contactSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactHeading {
  font-size: 220px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 200px;
} */


.cotactHeading {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--pink-color);
}

.contactSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  width: 90vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--white-color);
}

form {
  display: flex;
  flex-direction: column;
}

.custom-form-field {
  width: 500px;
}


.listOfSm {
  display: flex;
  /* align-items: center;
  justify-content: center; */
} 

.listOfSm a {
  text-decoration: none;
  color: var(--pink-color);
}

.link {
  width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 2px solid var(--pink-color);
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.link:first-child,
.link:nth-child(2) {
  margin-right: 20px;  
}


.icon {
  filter: invert(23%) sepia(53%) saturate(7238%) hue-rotate(316deg) brightness(101%) contrast(101%);
  width: 20px;
  margin-right: 8px;
}

/* .direction {
  margin-left: 40px;
} */


.submitBtn {
  padding: 15px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}