<div class="skillsContainer">
  <h1 class="skillsHeading">Skills</h1>
  <div class="skillsIconsContainer">
    <img src="assets/images/html.png" alt="">
    <img src="assets/images/css.png" alt="">
    <img src="assets/images/bootstrap.png" alt="">
    <img src="assets/images/js.png" alt="">
    <img src="assets/images/typescript.png" alt="">
    <img src="assets/images/angular.png" alt="">
    <img src="assets/images/material.png" alt="">
    <img src="assets/images/jasmine.png" alt="">
    <img src="assets/images/karma.png" alt="">
    <img src="assets/images/git.png" alt="">
    <img src="assets/images/github-icon.png" alt="">
    <img src="assets/images/vsc.png" alt="">
  </div>
</div>
