<div class="skillsContainer">
  <h1 class="skillsHeading">Skills</h1>
  <div class="skillsIconsContainer">
    <img  src="assets/images/html.png" alt="Icon of HTML">
    <img  src="assets/images/css.png" alt="Icon of CSS">
    <img  src="assets/images/bootstrap.png" alt="Icon of Bootstrap">
    <img  src="assets/images/js.png" alt="Icon of JavaScript">
    <img  src="assets/images/typescript.png" alt="Icon of TypeScript">
    <img  src="assets/images/angular.png" alt="Icon of Angular">
    <img  src="assets/images/material.png" alt="Icon of Angular Material">
    <img  src="assets/images/jasmine.png" alt="Icon of Jasmine">
    <img  src="assets/images/karma.png" alt="Icon of Karma">
    <img  src="assets/images/git.png" alt="Icon of Git">
    <img  src="assets/images/github-icon.png" alt="Icon of Github">
    <img  src="assets/images/vsc.png" alt="Icon of Visual Studio Code">
  </div>
</div>
