<mat-toolbar color="primary">
    <div>
      <button>
        <a class="menuItem logo" mat-button routerLink="/home">Katarzyna Waszczuk</a>
      </button>
    </div>
    <div class="menuItemsContainer">
      <button>
        <a class="menuItem" mat-button routerLink="/home">Home</a>
      </button>
      <button>
        <a class="menuItem" mat-button routerLink="/about">About</a>
      </button>
      <button>
        <a class="menuItem" mat-button routerLink="/projects">Projects</a>
      </button>
    </div>
    <div class="contactContainer">
      <button>
        <a class="menuItem contactBtn" mat-button routerLink="/contact">Contact</a>
      </button>
      <button>
        <a class="menuItem" mat-button href="assets/Waszczuk_Katarzyna-CV.pdf" download="Waszczuk_Katarzyna-CV.pdf">
          <img class="cvIcon" src="assets/images/download.png" alt="cv">
        </a>
      </button>
    </div>
  </mat-toolbar>

  <!--Hamburger Menu for small devices-->

  <mat-toolbar class="hamburgerMenu">
    <span>Katarzyna Waszczuk</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburgerIcon" aria-label="Icon of hamburger menu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu" class="mat-menu-panel">
    <button mat-menu-item class="menuBtn" routerLink="/home">Home</button>
    <button mat-menu-item class="menuBtn" routerLink="/about">About</button>
    <button mat-menu-item class="menuBtn" routerLink="/projects">Projects</button>
    <button mat-menu-item class="menuBtn" routerLink="/contact">Contact</button>
    <button mat-menu-item class="menuBtn"><a class="CVdownload" href="assets/Waszczuk_Katarzyna-CV.pdf" download>CV</a></button>
  </mat-menu>
