.mat-toolbar{
  position: fixed;
  top: 0;
  min-height: 90px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black-color);
  color: var(--white-color);
  z-index: 10000;
}

.logo {
  font-family: var(--ff-secondary);
  font-size: 25px;
  text-transform: lowercase;
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
  font-size: 15px;
  text-transform: uppercase;
}

.menuItem,
.menuItemOnSmallDevice {
  text-decoration: none;
  color: var(--white-color)!important;
}

.menuItem:hover,
.menuItemOnSmallDevice:hover {
  color: var(--pink-color)!important;
  transition: color 0.8s ease;
}

.menuItemsContainer {
  width: 300px;
  border: 2px solid var(--pink-color);
  background-color: var(--black-color);
  text-align: center;
  z-index: 1;
}

.contactBtn {
  padding: 20px;
  margin-right: 60px;
  border-radius: 0;
  background-color: var(--pink-color);
  font-weight: bold;
}

.contactBtn:hover {
  color: var(--pink-color);
  background-color: var(--white-color);
  transition: all 0.8s ease;
}

.cvIcon {
  width: 40px;
}

.CVdownload {
  text-decoration: none;
  color: var(--black-color);
}

::ng-deep .mat-mdc-menu-panel {
  padding-top: 30px;
}

/*Styles for hamburger menu on smaller devices*/

.hamburgerNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: none;
}

.logoContainer {
  position: absolute;
  left: 18px;
  top: 15px;
}

mat-sidenav-container {
  position: absolute;
  right: 18px;
  top: 10px;
  width: 30px;
  display: none;
  background-color: transparent;
  z-index: 10000;
}

.hamburgerMenuBtn {
  display: none;
}

mat-sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  display: none;
  background-color: var(--black-color);
}

.menuContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listItem {
  padding: 25px;
  color: var(--white-color);
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.listItem:hover {
  color: var(--pink-color);
  transition: all 0.5s ease;
}

.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 16px;
}

.closeIcon {
  color: var(--white-color);
  background-color: transparent;
  font-size: 30px;
}

@media (max-width: 900px) {
  .logo {
    font-size: 18px;
    font-weight: 500;
  }
  .hamburgerNavbar {
    visibility: visible;
  }
  .mat-toolbar{
    display: none;
  }
  mat-sidenav-container {
    display: block;
  }
  mat-sidenav {
    display: block;
  }
}
