.mat-toolbar{
  position: fixed;
  top: 0;
  min-height: 90px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black-color);
  color: var(--white-color);
  z-index: 10000;
}

.logo {
  font-family: var(--ff-secondary);
  font-size: 30px;
  font-weight: 900;
  text-transform: lowercase;
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
  font-size: 15px;
  text-transform: uppercase;
}

.menuItem {
  text-decoration: none;
}

.menuItem:hover {
  color: var(--pink-color);
  transition: color 0.8s ease;
}

.menuItemsContainer {
  width: 300px;
  border: 2px solid var(--pink-color);
  background-color: var(--black-color);
  text-align: center;
  z-index: 1;
}

.contactBtn {
  padding: 20px;
  margin-right: 60px;
  border-radius: 0;
  background-color: var(--pink-color);
  font-weight: bold;
}

.contactBtn:hover {
  background-color: var(--white-color);
  transition: all 0.8s ease;
}

.cvIcon {
  width: 40px;
}

.hamburgerMenu {
  display: none;
  position: relative;
}

.hamburgerIcon {
  position: absolute;
  right: 10px;
  top: 0;
}

.menuBtn {
  color: var(--black-color);
}

.CVdownload {
  text-decoration: none;
  color: var(--black-color);
}


@media (max-width: 900px) {
  .mat-toolbar{
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
}
