
  <mat-toolbar>
    <div>
      <button>
        <a class="menuItem" mat-button routerLink="/home">Katarzyna Waszczuk</a>
      </button>
    </div>
    <div class="menuItemsContainer">
      <button>
        <a class="menuItem" mat-button routerLink="/home">Home</a>
      </button>
      <button>
        <a class="menuItem" mat-button routerLink="/about">About</a>
      </button>
      <button>
        <a class="menuItem" mat-button routerLink="/projects">Works</a>
      </button>
    </div>
    <div class="contactContainer">
      <button>
        <a class="menuItem contactBtn" mat-button routerLink="/contact">Contact</a>
      </button>
      <button>
        <a class="menuItem" mat-button><img class="cvIcon" src="assets/images/cv.png" alt="cv"></a>
      </button>
    </div>
  </mat-toolbar>

