<mat-toolbar color="primary">
  <div>
    <button>
      <a class="menuItem logo" mat-button routerLink="/home">Katarzyna Waszczuk</a>
    </button>
  </div>
  <div class="menuItemsContainer">
    <button>
      <a class="menuItem" mat-button routerLink="/home">Home</a>
    </button>
    <button>
      <a class="menuItem" mat-button routerLink="/about">About</a>
    </button>
    <button>
      <a class="menuItem" mat-button routerLink="/projects">Projects</a>
    </button>
  </div>
  <div class="contactContainer">
    <button>
      <a class="menuItem contactBtn" mat-button routerLink="/contact">Contact</a>
    </button>
    <button>
      <a class="menuItem" mat-button href="assets/Waszczuk_Katarzyna-CV.pdf" download="Waszczuk_Katarzyna-CV.pdf">
        <img class="cvIcon" src="assets/images/download.png" alt="cv">
      </a>
    </button>
  </div>
</mat-toolbar>

<!--Hamburger Menu for smaller devices-->
<div class="hamburgerNavbar">
  <div class="logoContainer">
    <button>
      <a class="menuItemOnSmallDevice logo" mat-button routerLink="/home">Katarzyna Waszczuk</a>
    </button>
  </div>
  <mat-sidenav-container>
    <div>
      <button class="hamburgerMenuBtn" mat-icon-button aria-label="Icon-button with menu icon" class="menuBtn"
        (click)="opened=!opened">
        <mat-icon class="menuIcon">menu</mat-icon>
      </button>
    </div>
    <mat-sidenav mode="over" [(opened)]="opened">
      <div class="menuContainer">
        <a class="listItem" mat-list-item routerLink="/home">Home</a>
        <a class="listItem" mat-list-item routerLink="/about">About</a>
        <a class="listItem" mat-list-item routerLink="/projects">Projects</a>
        <a class="listItem" mat-list-item routerLink="/contact">Contact</a>
        <a class="listItem CVdownload" href="assets/Waszczuk_Katarzyna-CV.pdf" download>CV</a>
      </div>
      <div class="closeButtonContainer">
        <button mat-icon-button aria-label="Example icon-button with menu icon" class="closeBtn"
          (click)="opened=!opened">
          <mat-icon class="closeIcon" *ngIf="opened">close</mat-icon>
        </button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>