
@use '@angular/material' as mat;

@include mat.core();


$Portfolio-primary: mat.define-palette(mat.$grey-palette, 900);
$Portfolio-accent: mat.define-palette(mat.$pink-palette, A700);


$Portfolio-warn: mat.define-palette(mat.$red-palette);

$Portfolio-theme: mat.define-light-theme((
  color: (
    primary: $Portfolio-primary,
    accent: $Portfolio-accent,
    warn: $Portfolio-warn,
  )
));


@include mat.all-component-themes($Portfolio-theme);

