.homeBackgroundSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeHeading {
  font-size: 190px;
  font-weight: 900;
  font-family: var(--ff-primary);
  line-height: 200px;
  text-transform: uppercase;
}

.backgroundImg {
  width: 600px;
  position: absolute;
  top: 21.5%;
}

.homeHeading span {
  color: var(--pink-color);
}

h2 {
  z-index: 9999;
}

.contactSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contactHeading {
  margin-bottom: 30px;
  font-size: 180px;
  font-weight: 900;
  line-height: 150px;
  text-transform: uppercase;
}

.contactHeading span {
  color: var(--pink-color);
}

.contactBtn {
  width: 250px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
  transition: all 0.8s ease;
}
