<app-navigation></app-navigation>

<div class="homeBackgroundSection">
  <!-- <img class="backgroundImg" src="assets/images/myportrait2.png" alt=""> -->
  <h1 class="homeHeading">
    Frontend<br><span>Developer</span>
  </h1>
</div>

<app-strengths></app-strengths>
<app-projects [showInHome]="true"></app-projects>
<app-skills></app-skills>

<div class="contactSection">
  <h3 class="contactHeading">
    Get <span>in</span><br>touch
  </h3>
  <button class="contactBtn" (click)="goToContact()">Let's talk</button>
</div>

<app-footer></app-footer>
