.homeBackgroundSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeHeading {
  position: absolute;
  top: 30%;
  font-size: 190px;
  font-weight: 900;
  font-family: var(--ff-primary);
  line-height: 200px;
  text-transform: uppercase;
}

.backgroundImg {
  width: 600px;
  position: absolute;
  z-index: 1;
}

.homeHeading span {
  color: var(--pink-color);
}

.contactSection {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contactHeading {
  margin-bottom: 30px;
  font-size: 180px;
  font-weight: 900;
  line-height: 150px;
  text-transform: uppercase;
}

.contactHeading span {
  color: var(--pink-color);
}

.contactBtn {
  width: 250px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  font-size: 30px;
  animation: marquee 20s linear infinite;
}
