.homeBackgroundSection {
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 15px 10px -15px var(--pink-color);
  position: relative;
}

.homeHeading {
  font-size: 190px;
  font-weight: 900;
  font-family: var(--ff-primary);
  line-height: 200px;
  text-transform: uppercase;
}

.backgroundImg {
  position: absolute;
  bottom: 0;
  max-width: 700px;
  overflow: hidden;
}

.homeHeading span {
  color: var(--pink-color);
}

h2 {
  z-index: 9999;
}

.contactSection {
  max-width: 100vw;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contactHeading {
  margin-bottom: 30px;
  font-size: 180px;
  font-weight: 900;
  line-height: 150px;
  text-transform: uppercase;
}

.contactHeading span {
  color: var(--pink-color);
}

.contactButton {
  width: 250px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contactButton:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
  transition: all 0.8s ease;
}

@media (max-width: 320px) {
  .homeBackgroundSection {
  min-height: 30vh;
  margin-bottom: 0px;
  box-shadow: 0px 0px 0px 0px;
  }
  .homeHeading {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  }
  .backgroundImg {
    display: none;
  }
  .contactHeading {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
  }
  .contactSection {
    min-height: 30vh;
  }
  .contactButton {
    width: 100px;
    padding: 10px;
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .homeBackgroundSection {
    min-height: 40vh;
    margin-bottom: 60px;
  }
  .homeHeading {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
  }
  .backgroundImg {
    width: 300px;
  }
  .contactHeading {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
  }
  .contactSection {
    min-height: 30vh;
  }
  .contactButton {
    width: 120px;
    padding: 15px;
    font-size: 13px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .homeBackgroundSection {
    min-height: 50vh;
    margin-bottom: 60px;
  }
  .homeHeading {
    font-size: 70px;
    line-height: 70px;
  }
  .backgroundImg {
    width: 350px;
  }
  .contactHeading {
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 70px;
  }
  .contactSection {
    min-height: 30vh;
  }
  .contactButton {
    width: 150px;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .homeBackgroundSection {
    min-height: 50vh;
    margin-bottom: 60px;
  }
  .homeHeading {
    font-size: 80px;
    line-height: 70px;
  }
  .backgroundImg {
    width: 400px;
  }
  .contactHeading {
    margin-bottom: 20px;
    font-size: 100px;
    line-height: 90px;
  }
  .contactSection {
    min-height: 40vh;
  }
  .contactButton {
    width: 190px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .homeBackgroundSection {
    min-height: 80vh;
    margin-bottom: 60px;
  }
  .homeHeading {
    font-size: 100px;
    line-height: 100px;
  }
  .backgroundImg {
    width: 500px;
  }
  .contactHeading {
    font-size: 140px;
    line-height: 120px;
  }
  .contactSection {
    min-height: 40vh;
  }
  .contactButton {
    width: 200px;
    padding: 15px;
    font-size: 17px;
    margin-bottom: 30px;
  }
}
@media(min-width: 1025px) and (max-width: 1200px) {
  .homeBackgroundSection {
    min-height: 100vh;
    margin-bottom: 60px;
  }
  .homeHeading {
    font-size: 150px;
    line-height: 150px;
  }
  .backgroundImg {
    width: 600px;
  }
}

