<h1>FRONTEND DEVELOPER</h1>
<!-- <div class="joke">
  <h2>Do you make frontend?</h2>
  <img src="assets/images/mem2.svg" alt="">

</div>
<div class="joke">
  <h2>Do you make frontend?</h2>
  <img src="assets/images/mem2.svg" alt="">

</div>
<div class="joke">
  <h2>Do you make frontend?</h2>
  <img src="assets/images/mem2.svg" alt="">

</div>

<div class="joke">
  <h2>Do you make frontend?</h2>
  <img src="assets/images/mem5.svg" alt="">

</div> -->

<app-contact></app-contact>
<app-error></app-error>
