<app-navigation></app-navigation>

<div class="homeBackgroundSection">
  <img class="backgroundImg" src="assets/images/home-img.png" alt="">
  <h1 class="homeHeading">
    Frontend
    </h1>
  <h2 class="homeHeading">
  <span>Developer</span>
  </h2>
</div>

<app-strengths></app-strengths>
<app-skills></app-skills>
<app-projects [showInHome]="true"></app-projects>

<div class="contactSection">
  <h3 class="contactHeading">
    Get <span>in</span><br>touch
  </h3>
  <a tabindex="0" role="button"><button class="contactButton" (click)="goToContact()" >Let's talk</button></a>
</div>

<app-footer></app-footer>
